<comment msg="msg" ng-if="msg.type === 'Message' || msg.type === 'Reply'"></comment>
<notification msg="msg" ng-if="msg.type === 'Notification'"></notification>
<assignment msg="msg" ng-if="msg.type === 'Assignment'"></assignment>
<blogCard msg="msg" ng-if="msg.type === 'Blog'"></blogCard>

<div gallery files="msg.files" readonly="true" ng-if="msg.files && msg.files.length > 0"></div>

<!-- <div class="widget-actions pull-left small">
	<a href="javascript:void(0)" ng-click="like(msg._id)">Like</a>
	<a href="javascript:void(0)" ng-click="showReplies=!showReplies">Reply</a>
	<a href="javascript:void(0)">
		<i class="icon md-favorite"></i>
		<span ng-if='msg.likes.length > 0'>{{msg.likes.length}}</span>
	</a>
	<a href="javascript:void(0)">
		<i class="icon md-comment"></i>
		<span ng-if='msg.comments > 0'>{{msg.comments}}</span>
	</a>
</div> -->

<!-- <div class="col-md-12 margin-right-0 padding-right-0 margin-top-10">
	<post ng-if="showReplies" parentid="msg._id" type="reply"></post>
	<div class="padding-left-40 padding-top-30 padding-bottom-5 " style="border: 0 none;" ng-repeat="reply in replies" >
			<message msg="reply"></message>
	</div>
</div> -->