
<div class="page-profile">
	<div class="page">
	    <div class="page-content container-fluid padding-left-5 padding-right-5 padding-top-20">
		    <div class="row">
		    	<div class="col-md-3 padding-right-5">
		    		<user-card></user-card>
			        <classes-card user='user'></classes-card>  


			        <div class="panel" ng-cloak>
			        	<div class="panel-title padding-top-10 padding-bottom-10">
			        		<h3>My content</h3>
			        	</div>
			        	<div class="panel-body padding-0">
			        		<div class="row">
				        		<div class="col-xs-4" ng-repeat="i in [1,2,3,4,5,6,7]" ng-cloak>
					        		<figure class="overlay overlay-hover animation-hover">
					                    <img class="overlay-figure overlay-scale" src="assets/images/layout-3.jpg"
					                    alt="...">
					                    <figcaption class="overlay-panel overlay-background overlay-fade text-center vertical-align">
					                      <button type="button" class="btn btn-outline btn-inverse vertical-align-middle">View</button>
					                    </figcaption>
					                  </figure>
					            </div>
				            </div>
			        	</div>
			        </div>
			    </div>

		    	<div class="col-md-6 padding-right-5">
			    		<div class="row margin-bottom-5">	
							<post></post>
						</div>
						<div class="row">
							<div class="panel margin-bottom-5" >
								<div class="panel-body padding-10 bg-blue-50">
									<div class="col-md-3">
										<div class="checkbox-custom checkbox-default">
				                              <input type="checkbox" id="message" ng-model="filter.message" ng-click="loadMessages()">
				                              <label for="message"><strong>Messages</strong></label>&nbsp;&nbsp;<i class="icon fa-comment-o" aria-hidden="true"></i><span class="badge badge-info up">5</span>
				                         </div>
			                         </div>
			                         <div class="col-md-3">
				                         <div class="checkbox-custom checkbox-default">
				                              <input type="checkbox" id="notification" ng-model="filter.notification" ng-click="loadMessages()">
				                              <label for="notification"><strong>Notifications</strong></label>&nbsp;&nbsp;<i class="icon fa-bell-o" aria-hidden="true"></i><span class="badge badge-danger up">5</span>
				                         </div>
				                    </div>
				                    <div class="col-md-3">
			                         <div class="checkbox-custom checkbox-default">
			                              <input type="checkbox" id="assignments" ng-model="filter.assignment" ng-click="loadMessages()">
			                              <label for="assignments"><strong> Assignments</strong></label>&nbsp;&nbsp;<i class="icon md-assignment-o" aria-hidden="true"></i><span class="badge badge-success up">5</span>
			                         </div>
			                        </div>
			                        <div class="col-md-3">
			                         <div class="checkbox-custom checkbox-default">
			                              <input type="checkbox" id="blog" ng-model="filter.blog" ng-click="loadMessages()">
			                              <label for="blog"><strong>Blogs</strong></label>&nbsp;&nbsp;<i class="icon md-cast" aria-hidden="true"></i><span class="badge badge-info up">5</span>
			                         </div>
			                        </div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="panel panel-white  margin-bottom-5" ng-repeat="msg in posts" ng-cloak>
								<div class="panel-body padding-10 ">
									<message msg="msg"></message>
								</div>
							</div>
						</div>
				</div>
				

				<div class="col-md-3">
		    		<div class="panel margin-bottom-5" >
			            <div class="panel-heading"  >
			              <h3 class="panel-title padding-left-10">My Schedule
			              	<div class="panel-actions">		                      
		                      <a class="panel-action icon wb-plus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true" uib-tooltip="New event" tooltip-placement="left"></a>
		                    </div>
			              </h3>
			            </div>
			            <div class="panel-body padding-0">
			                <div class="app-notebook-list" id="exampleBottomHome">
			                  	<ul class="list-group ">
								    <li class="list-group-item padding-5 border-bottom " ng-repeat="i in [1, 2, 3]">
										      	<h6 >today 8:00AM - 9:00AM </h6>
										      
											      <h6 class="list-group-item-heading margin-0">Class 101<div class="pull-right"><small>Training</small></div></h6>

											      <p class="list-group-item-text margin-0">Meet and greet first class</p>
								    </li>

								</ul>
								<button type="button" class="btn btn-block btn-primary btn-outline"><i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>Show More</button>

			                </div>
			            </div>
			        </div>

			        <div class="panel" id="messge">
				            <div class="panel-heading">
				              <div class="panel-actions">
				                <a class="text-action" href="javascript:void(0)"><i class="icon wb-edit" aria-hidden="true"></i></a>
				              </div>
				              <h3 class="panel-title">Tasks</h3>
				            </div>
				            <div class="panel-body padding-0">
				              <ul class="list-group list-group-full">
				                <li class="list-group-item" ng-repeat="i in [1, 2, 3]">
				                  <div class="media">
				                    <div class="media-left">
				                      <span class="avatar avatar-online">
				                        <img src="assets/images/avatar-2.jpg" alt="">
				                        <i></i>
				                      </span>
				                    </div>
				                    <div class="media-body">
				                      <h5 class="list-group-item-heading">
				                        <small class="pull-right">3 days ago</small>
				                        Herman Beck
				                      </h5>
				                      <p class="list-group-item-text">Cogitemus tempora tibique probabo...</p>
				                    </div>
				                  </div>
				                </li>
				                
				              </ul>
				              <button type="button" class="btn btn-block btn-primary  btn-outline"><i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>Show More</button>
				            </div>
				          </div>


				    <div class="panel" id="messge">
				            <div class="panel-heading">
				              <div class="panel-actions">
				                <a class="text-action" href="javascript:void(0)"><i class="icon wb-edit" aria-hidden="true"></i></a>
				              </div>
				              <h3 class="panel-title">Moo List</h3>
				            </div>
				            <div class="panel-body padding-0">
				              <ul class="list-group list-group-full">
				                <li class="list-group-item" ng-repeat="i in [1, 2, 3]">
				                  <div class="media">
				                    <div class="media-left">
				                      <span class="avatar avatar-online">
				                        <img src="assets/images/avatar-2.jpg" alt="">
				                        <i></i>
				                      </span>
				                    </div>
				                    <div class="media-body">
				                      <h5 class="list-group-item-heading">
				                        <small class="pull-right">3 days ago</small>
				                        Herman Beck
				                      </h5>
				                      <p class="list-group-item-text">Cogitemus tempora tibique probabo...</p>
				                    </div>
				                  </div>
				                </li>
				                
				              </ul>
				              <button type="button" class="btn btn-block btn-primary  btn-outline"><i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>Show More</button>
				            </div>
				          </div>




		    	</div>


		    </div>
		</div>
	</div>
</div>

