<div id="page-content-wrapper" style="padding-left: 5px; padding-right: 5px; padding-bottom: 0px; padding-top: 5px; ">

	<div class="page-header padding-top-10 padding-bottom-10 ">
	    <span class="page-title"><i class="icon fa-bank" aria-hidden="true"></i>{{school.name}}</span> 

	    <div class="page-header-actions">
	    	<button type="button" class="btn btn-raised  btn-default btn-sm" ui-sref="app.apph.apps.schoolusers({schoolid: schoolid})"  uib-tooltip="Users" tooltip-placement="bottom"  tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"><i class="icon fa-users" aria-hidden="true"></i> </button>
	        <button type="button" class="btn btn-raised  btn-default  btn-sm" ui-sref="app.apph.apps.schoolEdit" uib-tooltip="Edit School" tooltip-placement="bottom"  tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"><i class="icon fa-edit" aria-hidden="true"></i> </button>
		    <button type="button" class="btn btn-raised btn-default  btn-sm" ui-sref="app.apph.apps.program({schoolid: schoolid, classid: ''})" uib-tooltip="Create Program" tooltip-placement="bottom"  tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"><i class="icon fa-plus" aria-hidden="true"></i> Program </button>
		    <button type="button" class="btn btn-raised btn-primary  btn-sm" ui-sref="app.apph.apps.class({schoolid: schoolid, classid: ''})" uib-tooltip="Create Class" tooltip-placement="bottom"  tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"><i class="icon fa-plus" aria-hidden="true"></i> Class </button>
	    </div>
	</div>

	<div class="panel">
		<div class="panel-body" style="padding: 0px;">	
			<table class="table no-margin">
				<tbody>
					<tr ng-repeat="clazz in classes" ng-cloak ng-class="clazz.program?'padding-left-20':''">
						<td class="max-width-100 hidden-xs" >
							<div class="icons-effect padding-10">
								<img src="assets/images/avatar-1-small.jpg" class="img-rounded img-responsive" style="height: 70px;" alt="">
							</div>
						</td>
						<td>
							<div class="padding-10">
								<div class="title">
									<a ui-sref="app.apph.apps.program({schoolid: schoolid, classid: clazz._id})" ng-if="clazz.type === 'program'"> <strong style="margin-right: 20px">{{clazz.name}}</strong> <span class="label label-success">{{clazz.type}} </span></a> 
									<a ui-sref="app.apph.apps.class({schoolid: schoolid, classid: clazz._id})" ng-if="clazz.type === 'class'""><strong style="margin-right: 20px">{{clazz.name}}</strong><span class="label label-default">Class </span> </a> 

								</div>
								<span class="abstract">Reiciendis iactant eligendi. Vestrae </span>
								<div class="abstract">
									<a href="#" class="margin-right-10 ">
										<i class="fa fa-user "></i> Rambabu Ravuri
									</a>
									<span class='time'><i class="fa fa-clock-o "></i>10-11am Mon-Tue-Fri</span>
								</div>									
							</div>
						</td>
						<td class="hidden-xs">
							<div class="block padding-10">
										<a ui-sref="app.apph.apps.classusers({schoolid: schoolid, classid: clazz._id})" class="margin-right-10 text-small block">
											<i class="fa fa-users"></i> Users
										</a>
										<a href="#" class="margin-right-10 block  text-small">
											<i class="fa fa-bar-chart "></i> Grades 
										</a>
										
										<a href="#" class="block  text-small">
											<i class="fa fa-money "></i> Payment
										</a>
										
										<a href="#" class="block  text-small" ui-sref="app.apph.events">
											<i class="fa fa-calendar "></i> Time table
										</a>

									</div>
						</td>
						<td class="visible-lg">
						 <div class="padding-10">
							<div class="col-xs-4 text-center">
								<div class="counter">
									<div class="counter-label">Students</div>
									<div class="counter-number">200</div>
								</div>
							</div>
							<div class="col-xs-4 no-padding text-center">
								<div class="counter">
									<div class="counter-label">Classes</div>
									<div class="counter-number">200</div>
								</div>
							</div>
							<div class="col-xs-4 no-padding text-center">
								<div class="counter">
									<div class="counter-label">Posts</div>
									<div class="counter-number">200</div>
								</div>
							</div>
						  </div>
						</td>
					</tr>
					
				</tbody>
			</table>

		</div>
	</div>
</div>


