<div ng-controller="schoolEditController as vm">

<form name="Form" id="form" novalidate ng-submit="form.submit(Form)" >

<div id="page-content-wrapper" style="padding-left: 5px; padding-right: 5px; padding-bottom: 0px; padding-top: 5px; ">

  <div class="page-header padding-top-10 padding-bottom-10 ">
    <h1 class="page-title"> <i class="icon fa-language" aria-hidden="true"></i>  {{school.name}}&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    
    <span class="text-extra-small" ng-if="!Form.$dirty">&nbsp;&nbsp;&nbsp;&nbsp;All changes are saved</span>
    <div class="page-header-actions">
       <button type="button" class="btn btn-raised  btn-default btn-sm" ui-sref="app.apph.apps.schoolusers({schoolid: schoolid})"  uib-tooltip="Users" tooltip-placement="bottom"  tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"><i class="icon fa-users" aria-hidden="true"></i> </button>
       <button type="button" class="btn btn-raised  btn-default btn-sm" ui-sref="app.apph.events"  uib-tooltip="Calendar" tooltip-placement="bottom"  tooltip-trigger="'mouseenter'" tooltip-append-to-body="true"><i class="icon fa-calendar " aria-hidden="true"></i> </button>
      <button  class="btn btn-raised btn-primary" type="submit"><i class="icon fa-save" aria-hidden="true"></i> Save </button>
    </div>
  </div>

  <div class="panel">
      <div class="panel-body" style="padding: 10px;">  

            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                <li class="active" role="presentation"><a data-toggle="tab" href="#introTab" aria-controls="introTab" role="tab" aria-expanded="false">Intro</a></li>
                <li role="presentation"><a data-toggle="tab" href="#contactsTab" aria-controls="contactsTab" role="tab" aria-expanded="false">Contacts</a></li>
                <li role="presentation"><a data-toggle="tab" href="#summaryTab" aria-controls="summaryTab" role="tab" aria-expanded="false">Summary</a></li>
                <li role="presentation"><a data-toggle="tab" href="#locationTab" aria-controls="locationTab" role="tab" aria-expanded="true" ng-click="vm.resizeMap()">Location</a></li>
                <li role="presentation"><a data-toggle="tab" href="#attachmentsTab" aria-controls="attachmentsTab" role="tab" aria-expanded="true">Attachments</a></li>
            </ul>

            <div class="tab-content padding-top-20">
                <div class="tab-pane active" id="introTab" role="tabpanel">
                 
                  <div class="col-md-5">

                      <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
                          <label class="control-label"> Name  <span class="symbol required"></label>
                          <input type="text" class="form-control underline" id="name" name="name" ng-model="school.name" required >
                          <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$error.required">Name is required.</span>
                      </div>

                      <div class="form-group" >
                          <label for="categories" class="control-label">Category</label>
                          <select id="categories" class="form-control " multiple  ng-model="school.categories" ui-select2 style="width: 100%">
                            <option ng-repeat="item in vm.categories" ng-bind="item.value" value="{{item.value}}"></option>
                          </select>
                          <p class="help-block text-small">select 3 categories</p>
                      </div>
                      

                      <div class="form-group" >
                          <label for="trainingstyle" class="control-label">Medium</label>
                          <select id="trainingstyle" class="form-control " multiple ng-model="school.medium" ui-select2 style="width: 100%">
                            <option ng-repeat="option in vm.mediums">{{option.value}}</option>
                          </select>
                          <p class="help-block text-small">select 3 main mediums of teaching</p>
                      </div>
                      

                      <div class="form-group">
                          <label class="control-label"> Phone <i class="icon fa-phone" aria-hidden="true"></i> </label>
                          <input type="text" class="form-control" id="phone" name="phone"  ui-mask="(999) 999-9999"  ng-model="school.phone" style="width: 200px;">
                          <p class="help-block text-small">(999) 999.9999</p>
                      </div>

                      <div class="form-group">
                          <label class="control-label"> Website </label>
                          <input type="text" class="form-control" ng-model="school.website"  >
                          <p class="help-block text-small">www.myclass.com</p>
                      </div>

                  </div>
                  <div class="col-md-offset-1 col-md-5" ng-cloak>

                      <div class="form-group">
                          <label class="control-label"> Capacity </label>
                          <select id="classCapacity" class="form-control " ng-model="school.capacity" ui-select2 style="width: 200px;">
                            <option ng-repeat="option in vm.classCapacity">{{option.value}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label class="control-label"> Cost <i class="icon fa-money" aria-hidden="true"></i> </label>
                          <input type="text" class="form-control underline" ng-model="class.cost" maskmoney width="200px;">
                      </div>

                      <div class="form-group">
                        <label class="control-label">Schedule <i class="icon fa-clock-o" aria-hidden="true"></i></label>
                        <a href="#" ng-click="openEvent()"> 
                          <div class="height-50 ">
                            <span class="form-control text-azure" style="border: none;">{{vm.schedule.repeatText}}</span>
                          </div>
                        </a>
                      </div>      
                  </div>
                </div>

                <div class="tab-pane" id="contactsTab" role="tabpanel">
                  <div class="height-200 margin-top-20 padding-20" style="border: 2px solid #e4eaec;border-radius: 5px;">                          
                    <h3>Contacts</h3>
                  </div>
                </div>
                <div class="tab-pane" id="summaryTab" role="tabpanel">
                  <div class="form-group" >
                          <rich-editor content="school.profile" placeholder="Enter class details" readonly="false"/>
                  </div>
                </div>

                <div class="tab-pane" id="locationTab" role="tabpanel">
                  <div class="form-group" >
                          <div class="gmap height-300" placeid="school.placeid" address="school.address" ng-cloak></div>
                           <p class="help-block text-small">Drag and drop marker <i class="icon fa-map-marker" style="color: red;" aria-hidden="true"></i> to select your location.</p>
                  </div>
                </div>
                <div class="tab-pane" id="attachmentsTab" role="tabpanel">
                  <div class="margin-top-20">
                    <div gallery files="school.gallery" type='image' gallery-title="Photo Gallery"></div>
                  </div>
                  
                  <div class="margin-top-20">
                    <div gallery files="school.attachments" type='pdf' gallery-title="Additional Information"></div>
                  </div>
                </div>
              </div>
      </div>
  </div>

</div>

</form>

</div>

